#background {
  background-image: url("/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

#landing {
  color: var(--not-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}

#landing h1, h2 {
  font-family: 'Fredoka', sans-serif;
  font-size: 5rem;
}

#countdown {
  display: flex;
}

#countdown h3 {
  font-size: 3rem;
}

#countdown h4 {
  font-size: 1.5rem;
}

#countdown span {
  padding: 0.5rem;
  width: 6rem;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: fit-content;
}

.landing-section {
  flex-direction: column;
  text-align: left;
  justify-content: center;
  border-image-source: var(--gradient);
  border-image-slice: 1;
  padding: 2rem 0;
}

#about-mun .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#about-mun img {
  display: none;
  position: absolute;
  left: 83%;
  width: 37.5rem;
  height: 37.5rem;
}

#about-mun h5, p {
  width: 80%;
}

section h5 {
  font-size: 1.8rem;
  font-family: 'Fredoka', sans-serif;
}

#about-mun p {
  font-size: 1rem;
}

#schedule {
  display: flex;
  justify-content: center;
}

#titles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#times {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days {
  margin: 1rem;
}

h6 {
  font-size: 1.5rem;
  font-family: 'Fredoka', sans-serif;
  padding: 0.4rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--not-white);
}

table td {
  padding: 0.5rem;
  border: 1px solid var(--not-white);
}

#mun-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#photo {
  border: none;
}

/*THIS IS BIG SCREEN*/
@media screen and (min-width: 795px) {
  #landing h1, h2 {
    font-size: 6.5rem;
  }

  #about-mun img {
    display: block;
  }

  section h5 {
    font-size: 3.5rem;
  }

  #about-mun p {
    font-size: 1.5rem;
  }

  #about-mun .text {
    width: 80%;
  }

  #schedule {
    flex-direction: row-reverse;
  }

  #titles {
    width: 30%;
    flex-direction: column;
  }

  #times {
    width: 70%;
    flex-direction: row;
  }

  h6 {
    font-size: 2rem;
  }

  table td {
    padding: 0.5rem;
    font-size: 1rem;
  }
}