#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--not-black);
  width: 100vw;
}

.tools-section {
  border-image-source: var(--gradient);
  border-image-slice: 1;
}